<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Retailcrm\Retailcrm\Helper\Proxy">
        <arguments>
            <argument name="pathUrl" xsi:type="const">Retailcrm\Retailcrm\Api\ConfigManagerInterface::URL_PATH</argument>
            <argument name="pathKey" xsi:type="const">Retailcrm\Retailcrm\Api\ConfigManagerInterface::KEY_PATH</argument>
            <argument name="pathVersion" xsi:type="const">Retailcrm\Retailcrm\Api\ConfigManagerInterface::API_VERSION_PATH</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="orders_export_command" xsi:type="object">Retailcrm\Retailcrm\Console\Command\OrdersExport</item>
                <item name="customers_export_command" xsi:type="object">Retailcrm\Retailcrm\Console\Command\CustomersExport</item>
                <item name="icml_generate_command" xsi:type="object">Retailcrm\Retailcrm\Console\Command\IcmlGenerate</item>
            </argument>
        </arguments>
    </type>
</config>
