<?xml version="1.0"?>
<!--
The MIT License (MIT)

Copyright (c) 2015 RetailDriver LLC

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
<config>
    <tabs>
        <retailcrm_extension>
            <label>RetailCRM</label>
            <sort_order>1000</sort_order>
        </retailcrm_extension>
    </tabs>
    <sections>
        <retailcrm translate="label" module="retailcrm">
            <label>Settings</label>
            <class>retailcrm-section</class>
            <tab>retailcrm_extension</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment" module="retailcrm">
                    <expanded>1</expanded>
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_url translate="label comment">
                            <label>API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[https://<i><b>YourCrmName</b></i>.retailcrm.ru]]></tooltip>
                        </api_url>
                        <api_key translate="label comment">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip><![CDATA[To generate an API Key, log in to RetailCRM then select Admin > Integration > API Keys]]></tooltip>
                        </api_key>
                    </fields>
                </general>
                <shipping translate="label comment" module="retailcrm">
                    <expanded>0</expanded>
                    <label>Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_model>retailcrm/adminhtml_system_config_form_fieldset_shipping</frontend_model>
                </shipping>
                <payment translate="label comment" module="retailcrm">
                    <expanded>0</expanded>
                    <label>Payment Method</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>12</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_model>retailcrm/adminhtml_system_config_form_fieldset_payment</frontend_model>
                </payment>
                <payment_status translate="label comment" module="retailcrm">
                    <expanded>0</expanded>
                    <label>Payment Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_model>retailcrm/adminhtml_system_config_form_fieldset_paymentstatus</frontend_model>
                </payment_status>
                <status translate="label comment" module="retailcrm">
                    <expanded>0</expanded>
                    <label>Order Statuses</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>14</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <frontend_model>retailcrm/adminhtml_system_config_form_fieldset_status</frontend_model>
                </status>
            </groups>
        </retailcrm>
    </sections>
</config>
